{{- if .Values.dapr.enabled }}
apiVersion: dapr.io/v1alpha1
kind: Configuration
metadata:
  name: dapr-config
spec:
  tracing:
    samplingRate: "1"
    zipkin:
      endpointAddress: "http://jaeger:9411/api/v2/spans"
  metric:
    enabled: true
  httpPipeline:
    handlers: []
  accessControl:
    defaultAction: allow
    trustDomain: "pubsub-domain"
    policies:
    - appId: "todo-backend"
      defaultAction: allow
      trustDomain: "pubsub-domain"
      namespace: {{ .Release.Namespace }}
    - appId: "todo-frontend"
      defaultAction: allow
      trustDomain: "pubsub-domain"
      namespace: {{ .Release.Namespace }}
{{- end }}